<nav class="navbar navbar-light bg-light-blue">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">{{'analysisChart'|translate|titlecase}}</span>
    <form class="d-flex">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {{'lang'|translate}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" (click)="setLang('ar')">AR</a></li>
          <li><a class="dropdown-item" (click)="setLang('en-US')">EN</a></li>
        </ul>
      </div>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
